:root {
    --background-color: cornflowerblue;
    --board-background-color: bisque;
    --board-border-color: burlywood;
    --panel-background-color: lightgoldenrodyellow;
    --panel-border-color: burlywood;

    --player-no-player: white;
    --player-player1: red;
    --player-player2: blue;
}

body {
    background-color: var(--background-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app-container {
    width: 800px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -400px;
}

.panel {
    position: absolute;
    background-color: var(--panel-background-color);
    border: 8px solid var(--panel-border-color);
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    z-index: 1;
}

.header {
    left: 50%;
    top: 20px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
}

.header-text {
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.player-header-text{
    align-content: center;
}

.footer {
    left: 50%;
    top: 720px;
    height: 80px;
    width: 320px;
    margin-left: -120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer button {
    margin-top: 15px;
    margin-left: 80px;
    width: 150px;
    height: 50px;
    background-color: lightblue;
    font-size: 25px;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    border: 5px solid chocolate;
    font-weight: bold;
}

.footer button:hover {
    background-color: chocolate;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 15%;
    background-color: var(--board-background-color);
    border: 8px solid var(--board-border-color);
    border-radius: 8%;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
}

.gameCircle {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
}

.player_0 {
    background-color: var(--player-no-player);
    border: 5px solid black;
}

.player_1 {
    background-color: var(--player-player1);
}

.player_2 {
    background-color: var(--player-player2);
}